<div class="container">
    <div class="row col-md-12 ">
        
        <input type="file" #fileUpload id="fileUpload" name="fileUpload" style="display:none;" />

        <button class="btn btn-primary" style="margin-right: 5px;" (click)="onClick()">
            Upload
        </button>
        <button (click)="logout()" class="btn btn-default pull-right">Logout</button>
    </div>
</div>
<div class="container" *ngIf="0">
    <button (click)="readfile()">read</button>
    <div style="text-align:center; margin-top: 100px; ">

        <button mat-button color="warn" (click)="onClick()">
            Upload
        </button>
        <input type="file" #fileUpload id="fileUpload" name="fileUpload" style="display:none;" /></div>
    <!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        Upload with ng-2 file uploader
    </button>
</div>
<div class="container" *ngIf="tableData">
    <div class="row" id="slip">
        <div class="col-md-12 text-center">
            <div class="page-header">
                <h3>{{tableData.header[0][0]}}</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
            <p><b>{{tableData.header[0][1]}}</b> {{ tableData.header[0][2] }}</p>
            <p [innerHTML]="addressProcess(tableData.header[0][3])"></p>
            <p><b>{{tableData.header[0][4]}}</b> {{ tableData.header[0][5] }}</p>
            <p><b>{{tableData.header[0][6]}}</b> {{ tableData.header[0][7] }}</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <p><b>{{tableData.header[0][8] }}</b> {{  tableData.header[0][9] }}</p>
            <p [innerHTML]="addressProcess(tableData.header[1][0])"></p>
            <p><b>{{tableData.header[1][1] }}</b> {{  tableData.header[1][2] }}</p>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12 text-left hidden-print" style="padding: 15px;">
            <form class="form-inline" enctype='multipart/form-data'>
                <div class="form-group kt-form-group">
                    <input type="text" class="form-control" id="partNo" name="partNo" placeholder="Part No"
                        [(ngModel)]="partNo" (change)="partNumberChanged()">
                </div>
                <div class="form-group kt-form-group">
                    <input type="text" class="form-control" id="verifiedQty" name="verifiedQty"
                        placeholder="Verified Qty" [(ngModel)]="verifiedQty">
                </div>
                <button type="submit" class="btn btn-primary" (click)="updateQty()">Update</button>
            </form>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 text-left hidden-print" style="padding: 15px;">
            <button class="btn btn-primary pull-right" style="margin-right: 5px;" (click)="exportAsPDF()">PDF</button>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th *ngFor='let key of keysData'>{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData.table">
                        <td class="text-center">{{row['No.']}}</td>
                        <td><span (click)="resetQty(row)" data-toggle="tooltip" title="Reset Qty to 0" style="cursor: pointer;">{{row['Part No']}}</span></td>
                        <td>{{row['Part Description']}}</td>
                        <td class="text-right">{{row['Qty']}}</td>
                        <td class="text-center">{{row['Rack']}}</td>
                        <td class="text-right">{{row['Bin']}}</td>
                        <td class="text-right">{{row['Rate*']}}</td>
                        <td class="text-right">{{row['MRP/Unit']}}</td>
                        <td class="text-right">{{row['Curr Stk']}}</td>
                        <td class="text-right">
                            <span (click)="resetQty(row)" data-toggle="tooltip" title="Reset Qty to 0" style="cursor: pointer;">
                                {{row['Verified Qty']}}
                            </span>
                        </td>
                        <td class="text-center">
                            <span (click)="resetQty(row)" data-toggle="tooltip" title="Reset Qty to 0"  *ngIf="row['Status']" style="color:green; font-size: 25px; cursor: pointer;"
                                class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                            <span (click)="resetQty(row)" data-toggle="tooltip" title="Reset Qty to 0" *ngIf="!row['Status']" style="color:red; font-size: 25px; cursor: pointer;"
                                class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 /*hidden-print*/">
            <p><b>{{tableData.footer[0][0] }}</b> {{ tableData.footer[0][1] }}</p>
            <p><b>{{tableData.footer[0][2] + ' : '}}</b></p>
            <p>{{tableData.footer[1][0] }}</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <p><b>{{tableData.footer[1][1]}}</b></p>
            <p>&nbsp;</p>
            <p><b>{{tableData.footer[1][2] }}</b></p>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-left hidden-print" style="padding: 15px;">
        <button class="btn btn-primary pull-right" style="margin-right: 5px;" (click)="exportAsPDF()">PDF</button>
    </div>
    <div class="row col-md-12"></div>
</div>
