table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.bgcolor{
  background-color: #f5fafd;  }

  .sign-up-card {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
